.wu {
    width: unset !important;
}
.mu {
    margin: unset;
}
.mt-1 {
    margin-top: 1rem;
}
.mr-1 {
    margin-right: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.ml-1 {
    margin-left: 1rem;
}
.ml-05 {
    margin-left: .5rem;
}
.mb-25 {
    margin-bottom: 2.5rem;
}
.mt-25 {
    margin-top: 2.5rem;
}
.pu {
    padding: unset !important;
}
.pt-1 {
    padding-top: 1rem;
}
.pr-1 {
    padding-right: 1rem;
}
.pb-1 {
    padding-bottom: 1rem;
}
.pl-1 {
    padding-left: 1rem;
}
.rotate {
    transform: rotate(180deg);
    transition: 0.5s;
}
.rotate-back {
    transform: rotate(360deg);
    transition: 0.5s;
}