<article *ngIf="comments">
    <h2>
        Comments
    </h2>
    <ol 
        class="comments">
        <li 
            class="comments__comment"
            *ngFor="let comment of comments">
            <section>
                <div class="comments__comment__title">
                    From <i>{{comment.email}}</i>: {{comment.name}}
                </div>
                <p>
                    {{comment.body}}
                </p>
            </section>
        </li>
    </ol>
</article>
<div *ngIf="!comments">
    <h2>
        No comments for this post
    </h2>
</div>