.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    &--row {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        label {
            order: 2;
        }

        input {
            order: 1;
        }
    }

    label {
        font-weight: 600;
        font-size: 1.5rem;
    }

    &__input-wrap {
        position: relative;
        width: 100%;

        &__password-eye {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 1rem;
            font-size: 2rem;
            color: $color-black;
            cursor: pointer;
            z-index: 1;
        }
    }

    &__error {
        color: $color-red;
    }
}