input {
    width: 100%;
    height: 5rem;
    background: $color-white;
    border: solid .1rem $color-gray;
    border-radius: 0.4rem;
    line-height: 2rem;
    color: $color-black;
    padding: 1rem 2rem;

    &.validation-error {
        border: 0.1rem solid $color-red;
    }

    &:focus-within {
        border: 0.1rem solid $color-base-light;
        border-color: $color-base-light;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        outline: none;
    }

    &:hover {
        border: 0.1rem solid $color-base-light;
        border-color: $color-base-light;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}

::placeholder {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 4rem;
    color: $color-gray-dark;
}