@import '../../../../styles.scss';

:host {
    @include host;

    header {
        width: 100%;
        margin-bottom: 1rem;
    }

    main {
        width: 100%;
        border: solid 0.1rem $color-gray;
        border-radius: 0.6rem;
        background-color: $color-white;

        &.no-data {
            border: unset;
            background-color: unset;
        }
    }
}