<spinner></spinner>
<ng-container 
  *ngIf="!loading">
  <header>
      <div 
        class="form-group">
          <label 
            for="userSearch">
              Search posts by user name
          </label>
          <input
              type="text"
              [formControl]="inputSearch"
              placeholder="Search"
              id="userSearch">
      </div>
  </header>
  <main>
      <table>
        <thead>
          <tr>
            <th *ngFor="let column of columns">
              {{ column }}
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let post of posts">
            <tr
              [class.no-bottom-border]="selectedPost?.id === post.id"
            >
              <td>{{post.id}}</td>
              <td>{{post.title}}</td>
              <td>{{post.user?.name}}</td>
              <td>{{post.user?.username}}</td>
              <td 
                class="clickable"
                (click)="selectPost(post)">
                <button 
                  class="button button--base"
                  *ngIf="!post.loading && selectedPost?.id === post.id">
                  Close
                </button>
                <button 
                  class="button button--base"
                  *ngIf="!post.loading && selectedPost?.id !== post.id">
                  Expand
                </button>
                <button 
                  class="button button--base"
                  *ngIf="post.loading">
                  <i class="fa fa-spinner fa-spin"></i>
                </button>
              </td>
            </tr>
            <tr 
              *ngIf="selectedPost?.id === post.id && !post.loading"
              class="no-hover">
              <td>&nbsp;</td>
              <td [attr.colspan]="3">
                <ul 
                  class="comments">
                  <li 
                    class="comments__comment"
                    *ngFor="let comment of post.comments">
                    {{comment.name}}: {{comment.body}}
                  </li>
                </ul>
              </td>
              <td>&nbsp;</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
  </main>
</ng-container>