@import '../../../../styles.scss';

:host {
    footer {
        height: 5rem;
        width: 100%;
        background-color: $color-base;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(tablet-portrait) {
            flex-wrap: wrap;
            text-align: center;
        }

    }
}