 <div 
    *ngIf="post" 
    class="wrapper">
    <a [routerLink]="ApiPathsEnum.POSTS">
        <i class="fa fa-solid fa-arrow-left"></i>
    </a>
    <article class="post-details">
        <h2>{{ post.title }}</h2>
        <section>{{ post.body }}</section>
        <app-comments [comments]="post.comments"></app-comments>
    </article>
    <article class="user"
        *ngIf="post.user">
        <h3>Author</h3>
        <address>
            <div class="user__details">
                <label>Name</label>
                <span>{{ post.user.name }}</span>
            </div>
            <div class="user__details">
                <label>Username</label>
                <span>{{ post.user.username }}</span>
            </div>
            <div class="user__details">
                <label>Email</label>
                <a [href]="'mailto:'+post.user.email">{{ post.user.email }}</a>
            </div>
            <div class="user__details">
                <label>Company</label>
                <span>{{ post.user.company.name }}</span>
            </div>
            <div class="user__details">
                <label>Website</label>
                <a [href]="post.user.website" target="_blank">{{ post.user.website }}</a>
            </div>
            <div class="user__details">
                <label>Phone</label>
                <a [href]="'tel:'+post.user.phone">{{ post.user.phone }}</a>
            </div>
        </address>
    </article>
</div>
  