<spinner></spinner>
<div 
    class="photos"
    *ngIf="!loading">
    <div 
        *ngFor="let image of photos"
        class="photos__photo">
        <img 
            [src]="image.thumbnailUrl" 
            [alt]="image.thumbnailUrl" 
            [title]="image.title">
    </div>
</div>
<div 
    class="pagination">
    <mat-paginator 
        #paginator 
        showFirstLastButtons
        [pageSize]="limit" 
        [length]="5000"
        (page)="changePage($event)">
    </mat-paginator>
    <input 
        type="number" 
        placeholder="Page size" 
        [(ngModel)]="limit" 
        (ngModelChange)="limitChange($event)"
        min="1"
    >
</div>
