<div 
    class="photos"
    [class.no-data]="!loading && !photos.length">
    <ng-container 
        *ngIf="!loading && photos.length">
        <div 
            *ngFor="let image of photos"
            class="photos__photo">
            <img 
                [src]="image.thumbnailUrl" 
                [alt]="'&nbsp;ID: ' + image.id" 
                [title]="image.title">
        </div>
    </ng-container>
    <ng-container 
        *ngIf="!loading && !photos.length">
        <h3>No photos</h3>
    </ng-container>
    <ng-container 
        *ngIf="loading">
    </ng-container>
</div>
<div 
    class="pagination">
    <mat-paginator 
        #paginator 
        showFirstLastButtons
        [pageSize]="limit.value" 
        [length]="5000"
        (page)="changePage($event)">
    </mat-paginator>
    <input type="number"
        placeholder="Page size"
        [formControl]="limit"
        min="1"
    >
</div>
